body{
    background-color: white;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3268a8;
    height:50px;
    width: 100%;
    margin-bottom: 12px;
    font-family: sans-serif;
}

header h1{
    margin-top: 5px;
    color: white;
    float:left;
    font-size: 30px;
}

.menu {
    background-color:#696969;
    margin: 0;
    padding: 0;
  }

.menu li {
    display: inline-block;
    margin: 6px;
    list-style: none;
  }

.menu li a {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 20px;
}

.menu li a:hover {
    color: #3268a8;
    text-decoration: none;
}

div {
    font-family: sans-serif;
}

div.home h1 {
    font-size: 25px;
}

div.home p {
    font-size: 15px;
}