body{
    background-color: white;
    margin: 0;
    padding: 0;
}

/* base.html */

header {
    background-color: #3268a8;
    height:65px;
    width: 100%;
    margin-bottom: 12px;
    font-family: sans-serif;
}

header h1{
    margin-top: 5px;
    color: white;
    float:left;
    font-size: 35px;
}

.menu {
    background-color:#696969;
    margin: 0;
    padding: 0;
  }

.menu li {
    display: inline-block;
    margin: 8px;
    list-style: none;
  }

.menu li a {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 20px;
}

.menu li a:hover {
    color: #3268a8;
    text-decoration: none;
}

div {
    font-family: sans-serif;
}

/* home.html */

div.home h1 {
    font-size: 25px;
}

div.home p {
    font-size: 15px;
}

/* about.html */

.president {
    float: left;
    padding: 0 20px 20px 0;
}

div.about h1 {
    font-size: 25px;
}

div.about p {
    font-size:15px;
}

/* estimate.html */
div.estimate h1 {
    font-size: 25px;
}

div.estimate label{
    display: inline-block;
    float: left;
    clear: left;
    width: 70px;
    text-align: left;
}

div.estimate input {
    display: inline-block;
    float: left;
}

