{% extends 'base.html' %}

{% block title %} About VTM {% endblock %}


{% block body %}

<div class ="about">
    <h1>About Us</h1>

    <a href="https://placeholder.com"><img src="https://via.placeholder.com/200x250/?text=company president"></a>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque pharetra sed sem eget rutrum. 
        Fusce rhoncus euismod purus sit amet sodales. Nullam ligula mi, gravida eu erat vel, cursus molestie sem. 
        Mauris non justo vitae nunc lacinia scelerisque. Vestibulum molestie fringilla ipsum, vitae faucibus arcu mollis molestie. 
        Nam posuere, nisi et vestibulum efficitur, mi lorem rutrum ligula, blandit volutpat ante dui eu turpis. 
        In hac habitasse platea dictumst. Mauris non ligula luctus, tempus nisl et, maximus dolor. 
        In libero diam, tempor vitae pharetra vel, ornare at ligula.
        <br>
        <br>
        Nunc lacus nunc, fermentum at gravida lobortis, dignissim dapibus ante. Mauris porttitor lacus ut euismod porttitor. 
        Sed maximus lectus iaculis maximus pulvinar. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
        Vivamus et urna vitae nunc placerat feugiat. Vestibulum suscipit tellus eget tortor placerat tempus. Pellentesque semper faucibus arcu, at semper mi commodo sit amet. 
        Pellentesque felis dui, pharetra sit amet volutpat ut, malesuada egestas mi. Pellentesque libero tellus, dictum ut lacinia ut, accumsan ut dui. 
        Pellentesque a suscipit lorem. Quisque fermentum viverra turpis in blandit. Nam eleifend tristique quam, sit amet egestas orci maximus in. Nullam iaculis lacinia convallis. 
        Integer vulputate, eros vel suscipit eleifend, urna enim aliquam nisi, a pretium sapien tellus eget ante.
        <br>
        <br>
        Fusce sed massa sit amet dui dictum ullamcorper. Duis venenatis faucibus vulputate. Nunc congue elit justo, eget vestibulum neque dapibus quis. 
        Nunc quis lorem ultricies, eleifend tortor sit amet, pharetra leo. Sed feugiat aliquet maximus. Sed vel sollicitudin enim. 
        Mauris cursus metus eu dui tempus lobortis. Morbi eget bibendum justo. Fusce id urna nibh. Proin dolor ipsum, consequat commodo tortor dapibus, malesuada convallis mauris. 
        Vivamus porta lorem vel mi lacinia placerat.
        <br>
        <br>
        Curabitur sed ipsum accumsan, aliquet orci ac, gravida lorem. Nulla dapibus at nunc ac feugiat. Ut varius magna interdum nisl blandit, at faucibus turpis ornare. 
        Praesent et hendrerit neque. Suspendisse pellentesque dolor lacus, vel suscipit nunc tincidunt vel. Nam hendrerit convallis elit ut tempor. Pellentesque porta quis sem vitae venenatis. 
        Praesent pulvinar vehicula suscipit. Curabitur est est, scelerisque pellentesque ante sed, maximus vehicula metus. Nulla sagittis enim sed semper pellentesque.
        <br>
        <br>
        Suspendisse viverra mollis fringilla. Nullam commodo dolor non tristique sagittis. Suspendisse accumsan mollis accumsan. Nulla interdum eleifend maximus. 
        Curabitur laoreet scelerisque turpis sed dapibus. Aenean suscipit orci vel risus congue ultrices. Donec dapibus ante sit amet est varius aliquam. Ut mattis lacus id pulvinar condimentum. 
        Quisque ut lacinia sapien. Morbi volutpat, ligula sed efficitur euismod, dui lectus pulvinar neque, quis tristique metus nunc lobortis urna. In id urna tristique, pulvinar est a, sagittis leo.
        Nullam ac scelerisque leo, vitae consectetur ligula. Mauris finibus viverra turpis id hendrerit. Morbi non urna sit amet erat aliquet dignissim. 
        Aenean auctor efficitur quam, vitae tristique augue tincidunt sit amet. Aliquam auctor turpis ut ultrices aliquam.
    </p>

</div>

{% endblock %}