<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock%}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
</head>
<body>
    <header>
        <h1>Vertical Tank Maintenance</h1>
    </header>
    <nav>
        <ul class="menu">
            <li><a href="/"> Home </a></li>
            <li><a href="/about"> About </a></li>
            <li><a href="/estimate"> Estimate </a></li>
        </ul>
    </nav>

    <div class="container">
        {% block body %}
        {% endblock %}
    </div>
</body>

<footer class="footer">
    <p>Ⓒ VTM 2020</p>
</footer>

</html>