<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock%}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylesheet.css') }}">
</head>
<body>
    <div>
        <h1>Vertical Tank Maintenance</h1>
        <a href="/"> Home </a>
        <a href="/about"> About </a>
        <a href="/estimate"> Estimate </a>
        
        {% block body %}

        {% endblock %}

    </div>
</body>

<footer>
    <p>ⒸVTM 2020</p>
</footer>

</html>