{% extends 'base.html' %}

{% block title %} Home Page {% endblock %}


{% block body %} 

<img class="tanks" src="static/above_ground_vertical_tanks.jpg" alt="Vertical Tanks"/>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque pharetra sed sem eget rutrum. 
    Fusce rhoncus euismod purus sit amet sodales. Nullam ligula mi, gravida eu erat vel, cursus molestie sem. 
    Mauris non justo vitae nunc lacinia scelerisque. Vestibulum molestie fringilla ipsum, vitae faucibus arcu mollis molestie. 
    Nam posuere, nisi et vestibulum efficitur, mi lorem rutrum ligula, blandit volutpat ante dui eu turpis. 
    In hac habitasse platea dictumst. Mauris non ligula luctus, tempus nisl et, maximus dolor. 
    In libero diam, tempor vitae pharetra vel, ornare at ligula.
</p>

{% endblock %}